<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="900">
    <title>Micro Center Stock Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

    </style>
  </head>
  <body>
    <main role="main">
      <div class="py-2">
        <div class="container">
          <div class="card-deck">
            {% for product in products %}
            <div class="card mb-0 shadow-sm"{% if product.stock == "Sold Out" %} style="opacity: 0.6"{% endif %}>
              <img src="data:image/png;base64,{{ product.qr_code }}" class="card-img-top" alt="{{ product.name }}"{% if product.stock == "Sold Out" %} style="opacity: 0.3"{% endif %}>
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.stock }}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">${{ product.price }}</small>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
